<div class="container__big-card">
  <div class="big-card__picture">
    <img src="/images/placeholder.jpg" alt="" height="200px">
  </div>
  <div class="big-card__title">
    <h1><a href="">Tutorial para ficar rico</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, dolores ab? Hic consequuntur commodi facilis
        repudiandae dicta qui pariatur maxime nesciunt voluptate, velit laborum sapiente eius quos quia quod soluta.
      </a>
    </p>
  </div>
</div>